.projects {
    min-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.myProjectsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.listOfMyProjects {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    position: relative;
}
