.mainBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 83%;
}

@media screen and (max-width: 1480px) {
    .mainBlock {
        width: 75%;
    }
}

@media screen and (max-width: 865px) {
    .mainBlock {
        width: 100%;
    }
}
